export NODE_VERSION_TAG="alonzo-purple"
export TESTNET_MAGIC=8
export NODE_HOME=$(expand_path .)

PATH_add "bin/cardano-node-${NODE_VERSION_TAG}/bin"
PATH_add bin/cardano-cli/bin
PATH_add script

export CARDANO_NODE_DB_PATH="${NODE_HOME}/state-node-${NODE_VERSION_TAG}"
export CARDANO_NODE_SOCKET_PATH="${CARDANO_NODE_DB_PATH}/node.socket"
