PATH_add bin/cardano-node-alonzo-blue/bin
PATH_add bin/cardano-cli/bin
PATH_add script

export NODE_HOME=$(expand_path .)

export CARDANO_NODE_DB_PATH="${NODE_HOME}/state-node-alonzo-blue"
export CARDANO_NODE_SOCKET_PATH="${CARDANO_NODE_DB_PATH}/node.socket"
